@import 'General.styl'

.Button
  background-color accent-color
  border 0
  border-radius 5px
  color secondary-color
  font-weight 600
  padding 8px 48px
  text-transform: uppercase
  margin 15px
  border 2px solid accent-color

  &:hover
     background-color secondary-color
     border 2px solid accent-color
     color accent-color
     box-shadow 0 4px 16px accent-color
     transition all 0.2s ease;

  &:disabled
    background-color secondary-text-color
    box-shadow none
    color secondary-color
    border 0