@import 'General.styl'

.confirmationModal
  position relative
  text-align: center
  width: 300px
  padding: 40px 50px
  border-radius: 25px
  background-color: secondary-color

  &__closeIcon
    position absolute
    top 24px
    right: 34px

  &__warningIcon
    font-size: 64px
    color: red

  &__btn
    margin-top: 28px
    
    &--warning
      background-color: red
      width: 40%
      margin: 0 10px
    
    &--cancel
      background-color: light-primary-color
      width: 40%
      margin: 0 10px

