@import 'General.styl'

.confirmationModal
  text-align: center
  padding: 30px
  border-radius: 25px
  background-color: secondary-color

  &__warningIcon
    font-size: 64px
    color: red

  &__btn
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 10px
    /* margin-top: 28px */
    
    &--warning
      background-color: red
      width: 40%
      margin: 0 10px
    
    &--cancel
      background-color: light-primary-color
      width: 40%
      margin: 0 10px

