@import 'General.styl'

.Footer
  display flex
  justify-content center
  align-items center
  flex-wrap wrap
  background-color dark-primary-color
  color secondary-color
  padding: 10px 0
  font-weight 600
  font-size 14px
  width 100%
  z-index: -1
