//Color palette
dark-primary-color = #006B8B
primary-color = #33ADCC
light-primary-color = #B3E5FC
accent-color = #FF9331
dark-background-text = #444444
secondary-text-color = #757575
divider-color = #BDBDBD
white-color = #FFFFFF

//Type system
.headline1
  font-family: "Roboto"
  font-size: 96px

.headline2
  font-family: "Roboto"
  font-size: 60px

.headline3
  font-family: "Roboto"
  font-size: 48px

.headline4
  font-family: "Roboto"
  font-size: 34px

.headline5
  font-family: "Roboto"
  font-size: 24px

.headline6
  font-family: "Roboto"
  font-size: 20px

.body1
  font-family: "Roboto"
  font-size: 16px

.body2
  font-family: "Roboto"
  font-size: 14px

.subtitle1
  font-family: "Roboto"
  font-size: 16px

.subtitle2:
  font-family: "Roboto"
  font-size: 14px

.styles-button
  font-family: "Roboto"
  font-size: 14px

.styles-overline
  font-family: "Roboto"
  font-size: 10px

.styles-caption
  font-family: "Roboto"
  font-size: 12px
