@import 'General.styl'

.Header
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  background-color primary-color
  color secondary-color
  padding 10px 0
  width 100%

  &__logo
    margin-left 50px

  &__title
    align-self center

  &__userInformation
    display flex
    p
      padding-right 10px
      text-align right


  &__userIcon
    margin-right 50px