@import General

.MedicalHistoryItem
  text-align: left

  p
    margin: 5px 0px
  
  &__description
    border: solid 1px light-primary-color
    background-color: background-light-color
    padding: 15px
    border-radius: 10px