@import General

.MedicalHistoryItem
  text-align: left
  
  &__description
    border: solid 1px light-primary-color
    background-color: light-primary-color
    padding: 0 20px
    border-radius: 20px