.Modal
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container 
    position: relative
    background-color: #ffffff;
    padding: 1rem;
    /* width: 800px; */


  &__close-button 
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: #f5f5f5;
    padding: 0.5rem 1rem;
    z-index: 2

