@import General

.registerCard
  width: 40%
  text-align: center
  padding: 40px
  color: dark-background-text
  border: 1px solid dark-background-text

  &__form
    display: grid
    text-align: left
    grid-gap: 10px

    label 
      display: grid
  
  &__submitButtom
    margin-top: 20px
    background-color: accent-color




