@import General

.resultsCard
  width: 35%
  padding: 40px
  display: grid
  color: dark-background-text
  border: 1px solid dark-background-text
  
  &__userInfo
    text-align: center

  &__form
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 10px

    label 
      display: grid

  &__submitBtn
    margin-top: 20px
    background-color: accent-color
