@import General

.resultsCard
  max-width: 600px;
  margin: 0 auto;
  padding: 40px
  display: grid
  grid-row-gap: 16px
  color: dark-background-text
  box-shadow: 4px 13px 5px -6px #bdbdbd;
  background-color: #fff;

  &__userInfo
    text-align: center

    h1 
      margin-bottom: 0px
    
    h3 
      margin-top: 0px

  &__form
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 10px

    label 
      display: grid

      input
        height: 30px;
        margin-top: 5px;

  &__submitBtn
    margin-top: 20px
    background-color: accent-color
