@import '../components/General.styl';
  
.Search__container
  width: 40%
  text-align: center

  h2
    letter-spacing 0.1em
    font-weight 500

  input
    padding 5px 0

.Search__form
    display: flex
    align-items: center

    input
      height 20px
      width 90%
      margin-right: 10px

    &__button
      /* width: 30% */

.Text__error
  color red
  display none


@media (max-width: 900px)
  .Search__container
    width: 90%