@import '../components/General.styl';
  
.Search__container
  display flex
  justify-content flex-start
  align-items center
  flex-direction column
  background-color white
  margin: 8% 0px
  padding 35px 50px
  box-shadow: 4px 13px 5px -6px divider-color
  color secondary-text-color

  h2
    letter-spacing 0.1em
    font-weight 500

  input
    padding 5px 0

.Search__form
    display: flex
    align-items: center

    input
      height 20px
      width 200px
      margin-right: 10px

.Text__error
  color red
  display none