@import General

.sideMenu
  padding: 15px 20px

  &__title
    margin-bottom: 10px

  &__link
    cursor: pointer
    display: flex
    align-items: center
    margin: 5px 0

    &:hover
      color: accent-color
  
    

