@import 'General.styl'

.container
  max-height: 65vh
  overflow-y: scroll

.Table
  width: 100%
  font-size 16px
  border-spacing 0
  border-collapse collapse
  color dark-background-text
  position: relative
   
  th
    text-align: start
    font-weight 400
    padding 15px 20px
    position: sticky;
    top: 0
    color secondary-color
    background-color primary-color
    box-shadow 0 3px 3px divider-color

  &__row:hover
      background-color: lightgray

  &__desactiveRow
    background-color: #e6e4e4

  &__cell
    border-bottom 2px solid divider-color
    font-size 14px
    padding 15px 20px

  &__actions
    text-align center
    border-bottom 2px solid divider-color

  &__actionButton
    color dark-primary-color
    padding 0 5px

.material-icons:hover
  color accent-color
  cursor pointer

