@import General

.updateCard
  text-align: center
  padding: 40px
  color: dark-background-text
  background-color: secondary-color

  &__title
    margin-top: 0px

  &__form
    display: grid
    grid-row-gap: 10px
    text-align: left
    
    &__section
      display: grid
      grid-gap: 10px
      grid-template-columns: 1fr 1fr
      /* margin-bottom: 20px */

    label 
      display: grid

      input
        height: 30px
        margin-top: 5px

      select
        margin-top: 5px
        height: 36px
  
  &__submitButtom
    margin-top: 20px
    background-color: accent-color


@media (max-width: 500px)
  .updateCard
    
    &__form
      max-height: 300px
      overflow: scroll

      &__section
        grid-template-columns: 1fr



