@import General 

.infoModal__container
  color:black
  text-align: center;
  padding: 30px 20px 10px;

  .material-icons
    font-size: 40px

.csvUpload__container
  color:black
  padding: 10px 20px;
