
.userHome
  // height 85vh
  display: grid
  grid-template-columns: 0.2fr 1fr
  max-width: 1400px
  margin: 0px auto

  &__table
    padding: 15px 20px

  &__tableContainer
    max-height: 60vh
    overflow-y: scroll 

  &__tableActions
    display: flex
    justify-content: space-between

    div
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap: 10px
      

    &__filter
      width: 300px
      display: flex
      justify-content: space-between
      align-items: center
      
      input
        height 26px
        

