
.userHome__container
  display: grid
  grid-template-columns: 0.3fr 1fr 0.3fr



.userHome__tableActions
  display: flex
  justify-content: space-between

  &__filter
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center