.bactContainer 
  width: 90%
  margin 50px auto

.bactCardContainer
  display: grid;
  grid-row-gap: 20px
  align-items: center;
  justify-items: center;
  background-color: #fff;
  padding: 35px 50px;
  box-shadow: 4px 13px 5px -6px #bdbdbd;
  color: #757575;

  hr     
    width: 90%

@media (min-width: 900px)
  .bactContainer
    width: 70%

