@import '../components/General.styl';

.Login
  display flex
  height 96vh

  &__info
    background-color primary-color
    width 50%
    color white

  &__logo
    margin 50px

  &__text
    margin 50px
    // text-align center
    letter-spacing 0.1em
    padding 15px
    p:nth-child(2)
      font-size 45px
      letter-spacing 0.1em

  &__form
    width 50%
    display flex
    justify-content center
    align-items center


/* .Footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; */

@media screen and (max-width: 1000px)

  .Login
    background-color: #33adcc

    &__info
      display: none

    &__form
      width 100%
