@import '../components/General.styl';

.Search__container
  display flex
  justify-content flex-start
  align-items center
  flex-direction column
  background-color white
  height 300px
  width 60%
  margin-top 10%
  margin-left 20%
  padding 25px 50px
  box-shadow: 4px 13px 5px -6px divider-color
  color secondary-text-color

  h2
    letter-spacing 0.1em
    font-weight 500

  input
    padding 5px 0