@import '../components/General.styl';

.searchContainer
  width 70%
  margin: 50px auto

.searchCard
  display: grid;
  grid-row-gap: 20px
  align-items: center;
  justify-items: center;
  background-color: #fff;
  padding: 35px 50px;
  box-shadow: 4px 13px 5px -6px #bdbdbd;
  color: #757575;
