@import '../components/General.styl';

.Container
  display inline-flex

aside
  display inline-flex
  flex-direction: column
  color dark-primary-color
  margin 0 25px
  max-width 200px
  height 300px

main
  display flex
  flex-direction column
  background-color secondary-color
  color dark-background-text
  align-items center
  min-width 250px
  width 50%
  padding 25px 50px
  margin 50px auto
  border-radius 5px

  h2
    font-weight 300
  p
    margin 0

  span
    font-size 14px

  table
    width: 100%
    font-size 14px
    border-spacing 0
    border-collapse collapse
    position: relative
    margin 25px 0

    tr
      text-align center
      font-weight 400
      border-bottom 2px solid divider-color

      td
        padding 10px

.Actions_button
  color dark-primary-color

  span
    margin 0 5px