@import '../components/General.styl';

.Container
  position: relative
  width: 90%
  margin 0 auto
  padding-top: 25px

  &__buttonAction
    display: flex
    align-items: center
    position: absolute
    background-color: accent-color
    color white
    padding: 10px 15px
    border-radius: 40px 
    margin-left: 25px
    
  aside
    display inline-flex
    flex-direction: column
    color dark-primary-color
    margin 0 25px
    width: 20%
    /* max-width 200px
    height 300px */

  main
    display inline-flex
    flex-direction column
    background-color secondary-color
    color dark-background-text
    align-items center
    min-width 250px
    width 50%
    padding 25px 50px
    margin 25px auto
    border-radius 5px

    h2
      font-weight 300
    p
      margin 0

    span
      font-size 14px

    table
      width: 100%
      font-size 14px
      border-spacing 0
      border-collapse collapse
      position: relative
      margin 25px 0

      tr
        text-align center
        font-weight 400
        border-bottom 2px solid divider-color

        td
          padding 10px

.Actions_button
  color dark-primary-color

  span
    margin 0 5px