@import '../components/General.styl';

.registerContainer
  position: relative
  
  &__form
    max-width 600px
    margin: 0 auto
  
  &__goBack
    display: flex
    align-items: center
    position: absolute
    background-color: accent-color
    color white
    padding: 10px 15px
    border-radius: 40px
    
    left: 60px
    