@import '../components/General.styl';

.resultsContainer 
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;

  &__goBack
    display: flex
    align-items: center
    position: absolute
    background-color: accent-color
    color white
    padding: 10px 15px
    border-radius: 40px
    left: 60px
    